include ./../mixins.pug
section.case#case 
    .container
        h2.text
            span Case Studies
        .row
            .col-12.offset-lg-1.col-lg-11
                .case-left
                    .case-left-num 75
                    .case-left-text Successful projects
        .case-slider
            .case-slider-items
                .case-slider-item
                    .case-slider-item-image
                        img(src="./images/slider_1.jpg", alt="")
                    .case-slider-item-bottom
                        .case-slider-item-text Landing page for Barbershop
                        .case-slider-item-button
                            a(href="#") Explore 
                            img(src="./images/arrow_black.svg", alt="")
                .case-slider-item
                    .case-slider-item-image
                        img(src="./images/slider_2.jpg", alt="")
                    .case-slider-item-bottom
                        .case-slider-item-text Landing page for Barbershop
                        .case-slider-item-button
                            a(href="#") Explore 
                            img(src="./images/arrow_black.svg", alt="")
                .case-slider-item
                    .case-slider-item-image
                        img(src="./images/slider_3.jpg", alt="")
                    .case-slider-item-bottom
                        .case-slider-item-text Landing page for Barbershop
                        .case-slider-item-button
                            a(href="#") Explore 
                            img(src="./images/arrow_black.svg", alt="")
                .case-slider-item
                    .case-slider-item-image
                        img(src="./images/slider_2.jpg", alt="")
                    .case-slider-item-bottom
                        .case-slider-item-text Landing page for Barbershop
                        .case-slider-item-button
                            a(href="#") Explore 
                            img(src="./images/arrow_black.svg", alt="")
            .case-slider-control
                .case-slider-line
                    .case-slider-loading
                .case-slider-arrows
                    img.case-slider-arrows-prev(src="./images/arrow_gradient.svg", alt="arrow")
                    img.case-slider-arrows-next(src="./images/arrow_gradient.svg", alt="arrow")
        .row
            .col-12.offset-lg-1.col-lg-2
                +roundLink('More', '#')
