include ./../mixins.pug

section.choose#choose  
    .container
        .row
            .col-12
                h2.text
                    span Why clients choose us
                        span.gradient-text .
                .row.choose-big 
                    .col-12.offset-lg-1.col-lg-5.order-2.order-lg-1.choose-text
                        .choose-block 
                            .choose-block-img.text
                                img(src="./images/prices_icon.svg", alt="prices")
                            .choose-block-text
                                h3.choose-block-text-title.text 
                                    span Reasonable prices
                                p.choose-block-text-desc.text 
                                    span Dynevo is where Quality, Time and Price meet. And if you come in once, you’ll get the reason to come back.
                        .choose-block 
                            .choose-block-img.text
                                img(src="./images/control_icon.svg", alt="control")
                            .choose-block-text
                                h3.choose-block-text-title.text 
                                    span Development control
                                p.choose-block-text-desc.text 
                                    span We are committed to continuous improvement and innovation. It is important to ensure that all requirements are met in our software products.
                        .choose-block 
                            .choose-block-img.text
                                img(src="./images/support_icon.svg", alt="support")
                            .choose-block-text
                                h3.choose-block-text-title.text 
                                    span Expert support
                                p.choose-block-text-desc.text 
                                    span We provide insightful advice and design solutions to fit your company's needs.
                    .col-12.offset-lg-1.col-lg-5.order-1.order-lg-2.choose-image
                        div 
                            img.image(src="./images/choose_1.jpg", alt="")
                .row.choose-big
                    .col-12.offset-lg-1.col-lg-5.choose-image
                        div 
                            img.image(src="./images/choose_2.jpg", alt="")
                    .col-12.offset-lg-1.col-lg-5.choose-text
                        .choose-block 
                            .choose-block-img.text
                                img(src="./images/start_icon.svg", alt="start")
                            .choose-block-text
                                h3.choose-block-text-title.text 
                                    span Quick start of projects
                                p.choose-block-text-desc.text 
                                    span We are always busy, and constantly keep developing, and we can’t afford us luxury of wasting or killing time.
                        .choose-block 
                            .choose-block-img.text
                                img(src="./images/privacy_icon.svg", alt="privacy")
                            .choose-block-text
                                h3.choose-block-text-title.text 
                                    span Customer Privacy
                                p.choose-block-text-desc.text 
                                    span At Dynevo, we protect personal data and take into account individuals’ privacy preferences
                        .choose-block 
                            .choose-block-img.text
                                img(src="./images/methods_icon.svg", alt="methods")
                            .choose-block-text
                                h3.choose-block-text-title.text 
                                    span Effective methods of doing business
                                p.choose-block-text-desc.text 
                                    span We combine individual tasks with long term value factor to develop growth opportunities and implement all round development.
                .row
                    .col-12.offset-lg-1.col-lg-2
                        +roundLink('More', '#')
