section.cooperation
    .container 
        .row
            .col-12
                h2.text
                    span Cooperation models
                        span.gradient-text .
            .col-12.col-lg-11.offset-lg-1
                .row
                    .col-12.col-lg-6.col-xl-5    
                        .cooperation-item
                            .cooperation-item-icon 
                                img(src="./images/coop_2.svg", alt="")
                            .cooperation-item-info
                                .cooperation-item-title
                                    h3.text
                                        span Fixed price
                                .cooperation-item-text
                                    p.text 
                                        span This model is ideal for small projects when time is limited or budget is small, also this cooperation model is suitable when you have clearly defined requirements.
                    .col-12.col-lg-6.col-xl-5.offset-xl-1    
                        .cooperation-item
                            .cooperation-item-icon 
                                img(src="./images/coop_1.svg", alt="")
                            .cooperation-item-info
                                .cooperation-item-title
                                    h3.text
                                        span Time and Material
                                .cooperation-item-text
                                    p.text 
                                        span This model is ideal when you have a long-term project which requires a detailed and creative approach and it’s impossible to work without constant changes in requirements. New ideas and concepts are implemented during the development process.
            .col-12.cooperation-image
                div
                    img.image(src="./images/cooperation.jpg", alt="")    