section.dev 
    .container
        .row
            .col-12
                h2.text
                    span Web development
                        span.gradient-text .
            .col-12.col-lg-11.offset-lg-1.dev-block
                .row
                    .col-12.col-lg-6
                        h3.text
                            span Frontend development
                    .col-12.col-lg-5.offset-lg-1.dev-text
                        p.text
                            span You’ve got designs – we’ve got talents. Using the latest frontend trends we’ll transform all your ideas into code and bring them to life.
                .row
                    .col-12.col-lg-6
                        .dev-icons
                            .dev-icon
                                .dev-icon-img
                                    img(src="./images/technologies/html.svg", alt="")
                                p.text
                                    span HTML/ XHTML
                            .dev-icon
                                .dev-icon-img
                                    img(src="./images/technologies/css.svg", alt="")
                                p.text
                                    span CSS
                            .dev-icon
                                .dev-icon-img
                                    img(src="./images/technologies/sass.svg", alt="")
                                p.text
                                    span SASS
                            .dev-icon
                                .dev-icon-img
                                    img(src="./images/technologies/less.svg", alt="")
                                p.text
                                    span Less
                            .dev-icon
                                .dev-icon-img
                                    img(src="./images/technologies/jquery.svg", alt="")
                                p.text
                                    span jQuery
                            .dev-icon
                                .dev-icon-img
                                    img(src="./images/technologies/bootstrap.svg", alt="")
                                p.text
                                    span Bootstrap
                            .dev-icon
                                .dev-icon-img
                                    img(src="./images/technologies/js.svg", alt="")
                                p.text
                                    span JavaScript
                            .dev-icon
                                .dev-icon-img
                                    img(src="./images/technologies/ts.svg", alt="")
                                p.text
                                    span TypeScript
                            .dev-icon
                                .dev-icon-img
                                    img(src="./images/technologies/angular.svg", alt="")
                                p.text
                                    span Angular 1-6
                            .dev-icon
                                .dev-icon-img
                                    img(src="./images/technologies/react.svg", alt="")
                                p.text
                                    span React.js
                    .col-12.col-lg-5.offset-lg-1
                        .dev-item
                            .dev-item-big
                                .dev-item-text.text
                                    span Trend technologies and frameworks
                                .dev-item-dot
                        .dev-item
                            .dev-item-big
                                .dev-item-text.text
                                    span Pixel Perfect
                                .dev-item-dot
                        .dev-item
                            .dev-item-big
                                .dev-item-text.text
                                    span Responsive design (RWD)
                                .dev-item-dot
                        .dev-item
                            .dev-item-big
                                .dev-item-text.text
                                    span Instant download
                                .dev-item-dot
                        .dev-item
                            .dev-item-big
                                .dev-item-text.text
                                    span Cross-browser compatibility
                                .dev-item-dot
            .col-12.col-lg-11.offset-lg-1.dev-block
                .row
                    .col-12.col-lg-6
                        h3.text
                            span Backend development
                    .col-12.col-lg-5.offset-lg-1.dev-text
                        p.text
                            span With our backend solutions you will feel the power of your product’s functionality.
                .row
                    .col-12.col-lg-6
                        .dev-icons
                            .dev-icon
                                .dev-icon-img
                                    img(src="./images/technologies/wordpress.svg", alt="")
                                p.text
                                    span Wordpress
                            .dev-icon
                                .dev-icon-img
                                    img(src="./images/technologies/java.svg", alt="")
                                p.text
                                    span Java
                            .dev-icon
                                .dev-icon-img
                                    img(src="./images/technologies/nodejs.svg", alt="")
                                p.text
                                    span Node.js
                            .dev-icon
                                .dev-icon-img
                                    img(src="./images/technologies/php.svg", alt="")
                                p.text
                                    span PHP
                            .dev-icon
                                .dev-icon-img
                                    img(src="./images/technologies/laravel.svg", alt="")
                                p.text
                                    span Laravel
                            .dev-icon
                                .dev-icon-img
                                    img(src="./images/technologies/october.svg", alt="")
                                p.text
                                    span October CMS
                            .dev-icon
                                .dev-icon-img
                                    img(src="./images/technologies/aws.svg", alt="")
                                p.text
                                    span AWS
                            .dev-icon
                                .dev-icon-img
                                    img(src="./images/technologies/ecma.svg", alt="")
                                p.text
                                    span ECMAscript 2018
                            .dev-icon
                                .dev-icon-img
                                    img(src="./images/technologies/symfony.svg", alt="")
                                p.text
                                    span Symfony
                            .dev-icon
                                .dev-icon-img
                                    img(src="./images/technologies/yii.svg", alt="")
                                p.text
                                    span Yii
                    .col-12.col-lg-5.offset-lg-1
                        .dev-item
                            .dev-item-big
                                .dev-item-text.text
                                    span Trend technologies and frameworks
                                .dev-item-dot
                        .dev-item
                            .dev-item-big
                                .dev-item-text.text
                                    span Pixel Perfect
                                .dev-item-dot
                        .dev-item
                            .dev-item-big
                                .dev-item-text.text
                                    span Responsive design (RWD)
                                .dev-item-dot
                        .dev-item
                            .dev-item-big
                                .dev-item-text.text
                                    span Instant download
                                .dev-item-dot
                        .dev-item
                            .dev-item-big
                                .dev-item-text.text
                                    span Cross-browser compatibility
                                .dev-item-dot