.expertise
    .container
        .row
            .col-12
                h2 Our expertise
                    span.gradient-text .
            .col-12.col-lg-11.offset-lg-1.expertise-block
                .row
                    .col-12.col-lg-5
                        h3.text
                            span Web technologies
                    .col-12.col-lg-5.offset-lg-1.expertise-items
                        .row    
                            .col-3.expertise-item
                                .expertise-icon
                                    img(src="./images/technologies/html.svg", alt="")
                                .expertise-text
                                    p.text
                                        span HTML 5
                            .col-3.expertise-item
                                .expertise-icon
                                    img(src="./images/technologies/bootstrap.svg", alt="")
                                .expertise-text
                                    p.text
                                        span Bootstrap
                            .col-3.expertise-item
                                .expertise-icon
                                    img(src="./images/technologies/angular.svg", alt="")
                                .expertise-text
                                    p.text
                                        span Angular 1-7
                            .col-3.expertise-item
                                .expertise-icon
                                    img(src="./images/technologies/react.svg", alt="")
                                .expertise-text
                                    p.text
                                        span React
                            .col-3.expertise-item
                                .expertise-icon
                                    img(src="./images/technologies/nodejs.svg", alt="")
                                .expertise-text
                                    p.text
                                        span Node js
                            .col-3.expertise-item
                                .expertise-icon
                                    img(src="./images/technologies/amazon-web-services.svg", alt="")
                                .expertise-text
                                    p.text
                                        span Amazon web service
                            .col-3.expertise-item
                                .expertise-icon
                                    img(src="./images/technologies/less.svg", alt="")
                                .expertise-text
                                    p.text
                                        span Less
                            .col-3.expertise-item
                                .expertise-icon
                                    img(src="./images/technologies/sass.svg", alt="")
                                .expertise-text
                                    p.text
                                        span Sass
                            .col-3.expertise-item
                                .expertise-icon
                                    img(src="./images/technologies/laravel.svg", alt="")
                                .expertise-text
                                    p.text
                                        span Laravel
                            .col-3.expertise-item
                                .expertise-icon
                                    img(src="./images/technologies/php.svg", alt="")
                                .expertise-text
                                    p.text
                                        span PHP
                    .col-12
                        .expertise-bottom
                            .expertise-line
                            .expertise-plus
            .col-12.col-lg-11.offset-lg-1.expertise-block
                .row
                    .col-12.col-lg-5
                        h3.text
                            span CMS
                    .col-12.col-lg-5.offset-lg-1.expertise-items
                        .row    
                            .col-3.expertise-item
                                .expertise-icon
                                    img(src="./images/technologies/wordpress.svg", alt="")
                                .expertise-text
                                    p.text
                                        span Wordpress
                            .col-3.expertise-item
                                .expertise-icon
                                    img(src="./images/technologies/october.svg", alt="")
                                .expertise-text
                                    p.text
                                        span OctoberCMS
                    .col-12
                        .expertise-bottom
                            .expertise-line
            .col-12.col-lg-11.offset-lg-1.expertise-block
                .row
                    .col-12.col-lg-5
                        h3.text
                            span Java technologies
                    .col-12.col-lg-5.offset-lg-1.expertise-items
                        .row    
                            .col-3.expertise-item
                                .expertise-icon
                                    img(src="./images/technologies/java.svg", alt="")
                                .expertise-text
                                    p.text
                                        span Java
                            .col-3.expertise-item
                                .expertise-icon
                                    img(src="./images/technologies/hibernate.svg", alt="")
                                .expertise-text
                                    p.text
                                        span Hibernate
                            .col-3.expertise-item
                                .expertise-icon
                                    img(src="./images/technologies/spring.svg", alt="")
                                .expertise-text
                                    p.text
                                        span Spring
                            .col-3.expertise-item
                                .expertise-icon
                                    img(src="./images/technologies/maven.svg", alt="")
                                .expertise-text
                                    p.text
                                        span Maven
                    .col-12
                        .expertise-bottom
                            .expertise-line                            
            .col-12.col-lg-11.offset-lg-1.expertise-block
                .row
                    .col-12.col-lg-5
                        h3.text
                            span Instruments
                    .col-12.col-lg-5.offset-lg-1.expertise-items
                        .row    
                            .col-3.expertise-item
                                .expertise-icon
                                    img(src="./images/technologies/bitbucket.svg", alt="")
                                .expertise-text
                                    p.text
                                        span Bitbucked
                            .col-3.expertise-item
                                .expertise-icon
                                    img(src="./images/technologies/jira.svg", alt="")
                                .expertise-text
                                    p.text
                                        span Jira
                            .col-3.expertise-item
                                .expertise-icon
                                    img(src="./images/technologies/redmine.svg", alt="")
                                .expertise-text
                                    p.text
                                        span Redmine
                            .col-3.expertise-item
                                .expertise-icon
                                    img(src="./images/technologies/git.svg", alt="")
                                .expertise-text
                                    p.text
                                        span Git
                    .col-12
                        .expertise-bottom
                            .expertise-line 
            .col-12.col-lg-11.offset-lg-1.expertise-block
                .row
                    .col-12.col-lg-5
                        h3.text
                            span DevOps
                    .col-12.col-lg-5.offset-lg-1.expertise-items
                        .row    
                            .col-3.expertise-item
                                .expertise-icon
                                    img(src="./images/technologies/amaz.svg", alt="")
                                .expertise-text
                                    p.text
                                        span Amazon
                            .col-3.expertise-item
                                .expertise-icon
                                    img(src="./images/technologies/digital.svg", alt="")
                                .expertise-text
                                    p.text
                                        span Digital Ocean
                            .col-3.expertise-item
                                .expertise-icon
                                    img(src="./images/technologies/docker.svg", alt="")
                                .expertise-text
                                    p.text
                                        span Docker
                            .col-3.expertise-item
                                .expertise-icon
                                    img(src="./images/technologies/vagrant.svg", alt="")
                                .expertise-text
                                    p.text
                                        span Vagrant
                    .col-12
                        .expertise-bottom
                            .expertise-line                 