section.footer
    .container
        .footer-logo
            a(href="#")   
                img(src="./images/logo.svg", alt="logo")
        .row
            .col-12.col-lg-6
                .row 
                    .col-6.footer-adress
                        p.text
                            span Dynevo Ltd, 230011
                        p.text
                            span Krasnopartizanskaya Str. 53
                        p.text
                            span Grodno, Belarus
                    .col-6.footer-mail
                        .footer-mail-block
                            .footer-mail-img
                                img(src="./images/footer_mail.svg", alt="")
                            .footer-mail-text.text
                                span contact@dynevo.org
                        .footer-mail-block
                            .footer-mail-img
                                img(src="./images/footer_skype.svg", alt="")
                            .footer-mail-text.text
                                span dynevo_company
                        .footer-mail-block
                            .footer-mail-img
                                img(src="./images/footer_phone.svg", alt="")
                            .footer-mail-text.text
                                span +375 (29) 287 19 23
            .col-12.col-lg-6
                .row 
                    .col-8
                        .footer-rewards
                            img(src="./images/footer_1.svg", alt="")
                            img(src="./images/footer_2.svg", alt="")
                            img(src="./images/footer_3.svg", alt="")
                    .col-4
                        .footer-follow
                            .footer-follow-text.text
                                span Follow us
                            .footer-follow-icons
                                a(href="#")
                                    .footer-follow-icon
                                a(href="#")
                                    .footer-follow-icon
                                a(href="#")
                                    .footer-follow-icon
                            .footer-follow-little.text
                                span Copyright © 2019 - DYNEVO