section.hero
    .hero-img
        img.image(src="./images/hero.jpg", alt="Dynevo")
    .container
        .row
            .col-12.hero-text
                h1.text Enterprise Software
                h1.text Solutions
                    span.gradient-text .
                h1.text.pl-110.underline Handmade
            .col-lg-6.hero-nav
                a(href="#who").hero-nav-item Who are we
                br
                a(href="#choose").hero-nav-item Why clients choose us
                br
                a(href="#services").hero-nav-item Services we provide
                br
                a(href="#").hero-nav-item Case Studies
                br
                a(href="#").hero-nav-item Testimonials
                br
                a(href="#").hero-nav-item Contacts
