.industries 
    .container
        .row
            .col-12 
                h2.text
                    span Our industries
                        span.gradient-text .
            .col-12.col-lg-11.offset-lg-1
                .row
                    .col-12.col-lg-5
                        .industries-info
                            .industries-title 
                                h3.text
                                    span We provide a wide range of IT-solutions for the following areas:
                            .industries-item
                                .industries-subtitle
                                    p.text
                                        span Fintech
                                    .header-dot
                                .industries-line
                                ul
                                    li.text
                                        span Blockchain
                                    li.text
                                        span Binary option
                                    li.text
                                        span Banking Service
                            .industries-item
                                .industries-subtitle
                                    p.text
                                        span E-commerce
                                    .header-dot
                                .industries-line
                            .industries-item
                                .industries-subtitle
                                    p.text
                                        span Enterprise
                                    .header-dot
                                .industries-line
                                ul
                                    li.text
                                        span CRM
                                    li.text
                                        span CRP
                            .industries-item
                                .industries-subtitle
                                    p.text
                                        span Social networking
                                    .header-dot
                                .industries-line
                    .col-12.col-lg-6.offset-lg-1.industries-img
                        div
                            img.image(src="./images/industries.jpg")
