section.services#services
    .container
        .row
            .col-12
                h2.text Services we provide
            .col-12.offset-lg-1.col-lg-11
                .services-item.underline.text
                        .row
                            .col-12.col-lg-6
                                h3.service-item-title Frontend development
                            .col-12.offset-lg-1.col-lg-5
                                p.service-item-text You’ve got designs – we’ve got talents. Using the latest frontend trends we’ll transform all your ideas into code and bring them to life.

