section.skills
    .container
        .row
            .col-12
                h1.text
                    span 
                        | Your needs 
                        br
                        |– our skills
                        span.gradient-text .
            .col-12.col-lg-11.offset-lg-1
                .row
                    .col-12.skills-image
                        div
                            img.image(src="./images/skills.jpg", alt="")
                    .col-12.col-lg-6.col-xl-5
                        p.skills-text.text
                            span We understand business needs of our clients and help to launch the most scalable apps
                        p.skills-text.text 
                            span We meet complex challenges with custom software development.
                    .col-12.col-lg-6.col-xl-5.offset-xl-2 
                        p.skills-text.text.strong
                            span Dynevo is a trusted provider of IT-solutions which make your business more efficient, productive and secure.