section.start#start   
    .container
        h2.text
            span Start your project with us 
        .row
            .col-12.offset-lg-1.col-lg-4.start-left
                .start-text.text 
                    span Tell us more about your project and we guarantee to provide feedback within 12 hours
                .start-button
                    button 
                        span Get in touch
            .col-12.offset-lg-1.col-lg-6 
                .start-image
                    img.image(src="./images/start.jpg", alt="")
            .col-12 
                .start-bottom You are welcome to contact
