section.team 
    .container
        .row
            .col-12
                h2.text 
                    span Meet the Team
                        span.gradient-text .
            .col-12.col-lg-11.offset-lg-1
                .row
                    .col-12.col-lg-6.col-xl-5
                        .team-text
                            p.text
                                span Our most valuable resources and our pride are people. That’s why we maintain the excellence of our relationships. We have been building a spirit of cooperation, goodwill and focus on the best results of every project.
                            p.text 
                                span The main aim of our company enables us to realize professional and creative potential of every team member.
                            p.text 
                                span We are keen to provide our clients with high-quality products due to our coherence and effective process management.
                    .col-12.col-lg-6.col-xl-5.offset-xl-1
                        .team-right In a long-term cooperation a team wins, not a group of workers.
                    .col-12
                        h3.text.team-title
                            span  OUR MANAGEMENT TEAM
                    .col-12
                        .team-line
                        .row
                            .col-12.col-lg-3.team-item
                                .team-item-name
                                    h3.text 
                                        span Jeff Bianco
                                .team-item-job
                                    p.text
                                        span Chief Executive Officer
                                .team-item-photo
                                    img(src="./images/team_1.png", alt="")
                            .team-line.mobile
                            .col-12.col-lg-3.offset-lg-3.team-item
                                .team-item-name
                                    h3.text
                                        span Albert Webb
                                .team-item-job
                                    p.text
                                        span CIO
                                .team-item-photo
                                    img(src="./images/team_1.png", alt="")
                        .team-line
                        .row
                            .col-12.col-lg-3.team-item
                                .team-item-name
                                    h3.text 
                                        span Brooklyn Murphy
                                .team-item-job
                                    p.text
                                        span Product Management
                                .team-item-photo
                                    img(src="./images/team_1.png", alt="")
                            .team-line.mobile
                            .col-12.col-lg-3.offset-lg-3.team-item
                                .team-item-name
                                    h3.text
                                        span Claire Cooper
                                .team-item-job
                                    p.text
                                        span Product Management
                                .team-item-photo
                                    img(src="./images/team_1.png", alt="")
                        .team-line