include ./../mixins.pug

section.testimonials#testimonials
    .container
        h2.text 
            span Testimonials
        +commentBlock('./images/test_1.jpg', 'Oubai Al Hendi', 'Founder and CEO at twigBIG', 'I have never met a company who excels at everything knowing that I\'m very detail-oriented and notice the smallest mistakes', 'Throughout all my experience of working with thousands of developers; I have never met a company who excels at everything knowing that Im very detail-oriented and notice the smallest mistakes. Their performance was flawless in communication, problem analysis, solution development, quality of delivery and adherence to timeline.')
        +commentBlock('./images/test_2.jpg', 'Taras Lanchev', 'CEO & Founder at Focus Ltd', 'Great, quick, quality work. Will definitely come back', 'Great, quick, quality work. Will definitely come back. Dynevo team has strong technical skills and they care about building the best product possible. Also, good communication and adherence to deadlines. Excellent experience overall.')
        +commentBlock('./images/test_3.jpg', 'Wade Hawkins', 'Founder and CEO at twigBIG', 'I have never met a company who excels at everything knowing that I\'m very detail-oriented and notice the smallest mistakes', 'Great, quick, quality work. Will definitely come back. Dynevo team has strong technical skills and they care about building the best product possible. Also, good communication and adherence to deadlines. Excellent experience overall.')
            