include ./../mixins.pug

section.testimonials#testimonials
    .container
        h2.text 
            span Testimonials
        +commentBlock('./images/test_1.jpg', 'Oubai Al Hendi', 'Founder and CEO at twigBIG', 'I have never met a company who excels at everything knowing that I\'m very detail-oriented and notice the smallest mistakes')
        +commentBlock('./images/test_2.jpg', 'Taras Lanchev', 'CEO & Founder at Focus Ltd', 'Great, quick, quality work. Will definitely come back')
        +commentBlock('./images/test_3.jpg', 'Wade Hawkins', 'Founder and CEO at twigBIG', 'I have never met a company who excels at everything knowing that I\'m very detail-oriented and notice the smallest mistakes')
            