.time
    .container
        .row
            .col-12
                h1.text
                    span It’s time to get acquainted
                        span.gradient-text .
            .col-12.col-lg-11.offset-lg-1.time-image
                div
                    img.image(src="./images/time.jpg")
            .col-12.col-lg-11.offset-lg-1.time-info
                .row
                    .col-12.col-lg-6
                        p.time-text.text
                            span Dynevo is a full-service software development company that helps customers worldwide to grow their business.
                        p.time-text.text
                            span At Dynevo, we provide custom web solutions from concept to product launch.
                    .col-12.col-lg-6
                        p.time-text.text
                            span We are not just good at coding – we bring your ideas to life and offer proven expertise for the areas below:
                        ul.time-list
                            li.text
                                span Fintech
                            li.text
                                span Banking Area
                            li.text
                                span E-commerce
                            li.text
                                span Business Process Automation
                            li.text
                                span Trade and Service Enterprises
            .col-12.time-bottom We will turn your ideas into reality.