section.who#who
    .container 
        .row
            .col-12
                h2.text Who are we
            .col-12.col-lg-6.who-img
                div
                    img.image(src="./images/who.jpg", alt="WHo we are")
            .col-12.offset-lg-1.col-lg-5.who-text
                p.text Dynevo is a full-service software development company that helps customers worldwide to grow their business.
                p.text.mtb-60 We are not just good at coding – we bring your ideas to life and offer proven expertise for the areas below:
                .who-block.text.underline
                    .who-block-big
                        .who-block-text.text Fintech
                        .who-block-dot
                .who-block.text.underline
                    .who-block-big
                        .who-block-text.text Banking Area
                        .who-block-dot
                .who-block.text.underline
                    .who-block-big
                        .who-block-text.text E-commerce
                        .who-block-dot
                .who-block.text.underline
                    .who-block-big
                        .who-block-text.text Business Process Automation
                        .who-block-dot
                .who-block.text.underline
                    .who-block-big
                        .who-block-text.text Trade and Service Enterprises
                        .who-block-dot                    
            .col-12.who-bottom.text We will turn your ideas into reality.