html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: $textBlack;
    background-image: url('./../images/bg_image.png');
}

section {
    padding-bottom: 150px;
    padding-top: 150px;
}

a {
    font-family: 'RedHatDisplay';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: $titleBlack;
    background: $titleBlack;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &:hover {
        text-decoration: none;
        color: $gradientColor;
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

h1 {
    font-family: 'RedHatDisplay', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 89px;
    line-height: 130%;
    text-transform: uppercase;
    color: $titleBlack;
}

h2 {
    font-family: 'RedHatDisplay', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-transform: uppercase;
    color: $titleBlack;
}

h3 {
    font-family: 'RedHatDisplay', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: $titleBlack;
}

button {
    font-family: 'RedHatDisplay', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: $titleBlack;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    color: $textBlack;
}

input, textarea {
    border: none;
    border-bottom: 1px solid rgba(40, 40, 40, 0.8);
    transition: 0.3s;
    outline: none;
    &.error-input {
        border-bottom: 1px solid rgba(230, 69, 85, 0.8);
    }
}

.correct-field {
    color: rgba(40, 40, 40, 0.3) !important; 
}

.error-field {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 130%;
    text-align: right;
    color: #E64555;
}

.pl-110 {
    padding-left: 110px;
    @media(max-width: 991px) {
        padding-left: 52px;
    }
}

.mtb-60 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.flex-end {
    justify-content: flex-end;
}

.mobile-show {
    display: none;
    @media(max-width: 991px) {
        display: block;
    }
}


@media(max-width: 991px) {
    body {

    }
    h1 {
        font-size: 36px;
        line-height: 130%;
    }
    h2 {
        font-size: 24px;
        line-height: 100%;
    }
    h3 {
        font-size: 14px;
        line-height: 19px;
    }

    p {
        font-size: 14px;
        line-height: 130%;
    }

    .mtb-60 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
}