.services {
    background: url('./../images/bg_image_grey.png');
    min-height: 1000px;
    h2 {
        margin-bottom: 90px;
    }
    &-item {
        &-block {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &-title {

        }
        &-text {

        }
    }
}