.skills {
    background: url('./../images/bg_image_grey.png');
    padding-top: 190px;
    padding-bottom: 80px;
    h1 {
        margin-bottom: 70px;
    }
    &-image {
        margin-bottom: 70px;
        div {
            overflow: hidden;
        }
    }
    &-text {
        margin-bottom: 70px;
    }
    @media(max-width: 991px) {
        padding-top: 78px;
        padding-bottom: 30px;
        h1 {
            margin-bottom: 0;
            top: 20px;
            position: relative;
            z-index: 1;
        }
        &-image {
            padding: 0;
            margin-bottom: 30px;
        }
        &-text {
            margin-bottom: 30px;
            &.strong {
                font-weight: bold;
            }
        }
    }
}