.start {
    background: url('./../images/bg_image.png');
    h2 {
        margin-bottom: 85px;
    }
    &-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &-text {
        margin-bottom: 40px;
    }
    &-button {
        & button {
            width: 182px;
            height: 48px;
            background: $titleBlack;
            border: none;
            outline: none;
            position: relative;
            transition: 0.3s;
            & span {
                font-family: 'RedHatDisplay';
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 130%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                color: $whiteText;
                position: relative;
                z-index: 1;
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                background: $gradient;
                height: 0%;
                width: 100%;
                transition: all 0.3s ease-out;
            }
            &:hover {
                &::after {
                    height: 100%;
                }
            }
            &:disabled {
                background: rgba(40, 40, 40, 0.3);
                &:hover {
                    &::after {
                        height: 0;
                    }
                }
            }
        }

    }
    &-image {
        overflow: hidden;
        & img {
            object-fit: cover;
        }
    }
    &-bottom {
        text-align: center;
        font-family: 'Quentin';
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 130%;
        text-align: center;
        color: $gray;
        margin-top: 60px;
    }
    @media(max-width: 991px) {
        padding-top: 50px;
        padding-bottom: 50px;
        h2 {
            margin-bottom: 40px;
        }
        &-text {
            font-size: 14px;
            line-height: 130%;
            margin: 0;
        }
        &-button {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        &-bottom {
            margin-top: 30px;
            font-size: 24px;
            line-height: 100%;
        }
    }
}