$gradient: linear-gradient(131.39deg, #243676 34.67%, #E64555 108.26%);
$gradientRound: linear-gradient(271.02deg, #243676 -28.5%, #E64555 116.82%);
$titleBlack: #282828;
$textBlack: #222222;
$lightGray: #F2F4F8;
$blue: #243676;
$red: #E64555;
$gradientColor: #743D69;
$whiteText: #F9FCFC;
$gray: rgba(40, 40, 40, 0.8);

$colors: (
    white: #fff
)
